.dispContainer {
	
	display: flex;
	
	flex-direction: row;
	flex-grow:1;
	flex-wrap: wrap;
	gap: var(--space-medium);
	height: 80vh; 
}

.headerContainer {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	background-color: #555589
}

.settingsButton {
}