
.timelineContainer {
  display: flex; 
  flex-direction: column; 
  overflow-y: auto;
  background-color: #1a1a1a;
  padding: var(--space-medium);
  border-left: 2px solid #444;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  height: auto;
  width: 250px;
  z-index: var(--z-index-view);
}

.turnSection {
  display: flex;
  flex-direction: column; /* Stack the marker on top of the scenes */
  padding: 0 var(--space-littlesmall);
  border-left: var(--space-supersmall) solid #555;
  min-width: 200px; /* Give each turn a minimum width */
}

.turnMarker {
  margin: 0 0 var(--space-littlesmall) 0;
  color: #ccc;
  font-weight: bold;
}

.scenesWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-supersmall);
}

.scenePip {
  background-color: #333;
  color: white;
  border: var(--space-supersmall) solid #ff4141;
  border-radius: 4px;
  text-align: left;
  padding: var(--space-supersmall) var(--space-littlesmall);
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden;
  width: 100%;
  height: 40px;
}

.newScene {
  background: none;
  border: var(--space-medium) solid #555;
  border-radius: var(--space-small);
  color: white;
  padding: var(--space-littlesmall) var(--space-medium);
  width: 100%;
  position: absolute;
  bottom:0;
  right:0;
}

.resolved {
	 border-color: #41a0ff;
}

.sceneRow {
  display: flex;
  flex-direction: row;
}