.card {
  position: relative;
  border: 1px solid #555;
  border-radius: 8px;
  padding: var(--space-medium);
  background-color: #caeced;
  width: 300px;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #a0c4ff;
  margin: 0 0 var(--space-littlesmall) 0;
}

.description {
  font-size: 0.9rem;
  color: #ccc;
  margin: 0;
}

.cardHeader {
  padding: var(--space-littlesmall) var(--space-supersmall); /* Give it some space */
  cursor: grab; /* Show the user it's draggable */
  flex-grow: 1; /* Allow it to take up available space */
  /* You might give it a slightly different background to indicate it's a header */
  background-color: rgba(255, 255, 255, 0.05);
}

/*from DispDropdown?*/
.menuItem {
  background: none;
  border: none;
  color: white;
  padding: var(--space-littlesmall) var(--space-supersmall);
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #555;
}