.dispContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 400px;
  flex-shrink: 0;
  height: 100%;
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: var(--space-md);
  height: 100%;
}

.cardList {
  overflow-y: auto;
  padding-right: var(--space-sm);
  flex-grow: 1;
}