.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  z-index: 2000;
}

.success {
  background-color: #28a745; /* Green */
  border-left: 5px solid #218838;
}

.error {
  background-color: #dc3545; /* Red */
  border-left: 5px solid #c82333;
}

.status {
  background-color: #79baec; /* Blue */
  border-left: 5px solid #3311ab;
}